.App{
  text-align: center;
}

.App_header{
  background-color: rgb(24, 192, 211);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}

.cellInput{
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border: 1px solid black;
  color:rgb(48, 126, 244);
}

table{
  border-collapse: collapse;
  border: 4px solid black;
}

td{
  padding: 0;
}

.buttonContainer{
  margin-top: 20px;
}
.check{
  background-color: rgb(212, 241, 28);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color:rgb(20, 13, 5);
}

.solveButton{
  background-color: rgb(68, 38, 238);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color:bisque;
  margin: 0px 20px;
}
.reset{
  background-color: rgb(220, 22, 22);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color:bisque;
}

.bBorder{
  border-bottom: 3px solid black;
}

.rBorder{
  border-right: 3px solid black;
}